footer{
    height: 100%;
    background-color: black;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.footer-svg{
    width: 30px; 
    height: 30px;
    fill: white;
}

.sponsors{
    height: 100px;
}


hr {
    width: 50%; 
    height: 3px;
    background-color: white; 
    border: none; 
    margin: 20px auto; 
  }

